<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Koru_Sigorta_Randevu_Ekranlari.Properties.Settings.Koru_Sigorta_Randevu_DBConnectionString"
            connectionString="Data Source=DESKTOP-3FHIL8A;Initial Catalog=Koru_Sigorta_Randevu_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>